<!--title-->
	<form action="/users" method="post">
		<label for="email">E-Mail</label>
		<input type="text" name="email" id="email" />
	<br />
	
<!--body-->
	<br />
		<label for="password">Password</label>
		<input type="text" name="password" id="password"/>	
		<button type="submit">Submit</button>
	</form>
